@import "../../index.scss";

.main-tags {
  margin-top: 3rem;
  width: 100%;

  &__title {
    color: $titles-color;
    font-weight: 600;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
  }

  .tags-container {
    position: relative;

    max-height: 27.4rem;
    background-color: #fff;
    overflow-y: auto;

    &__brand-search-container {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 2.4rem;
      justify-content: center;

      .tags-input {
        width: 24.8rem;
        height: 4.8rem;
        border: 0.3rem solid $titles-color;
        padding: 1.5rem;
        font-size: 1.4rem;
        color: $titles-color;
      }
    }
  }

  .tags-types {
    width: 80%;
    height: 100%;
    padding: 2.5rem;
    padding-top: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__type {
      display: flex;
      align-items: center;
      justify-content: left;

      .checkbox {
        margin-left: -1rem;
      }

      .type-title {
        text-align: left;
      }
    }
  }
}
