@import "../../index.scss";

.header {
  position: relative;
  max-width: 144rem;
  height: 7.6rem;
  background-color: $main-blue;
  margin: auto;

  .logo {
    position: absolute;
    width: 14.125rem;
    height: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
