@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 1200px) {
    font-size: 55%;
  }

  @media (max-width: 900px) {
    font-size: 50%;
  }

  @media (max-width: 600px) {
    font-size: 40%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
